.container {
    margin-top: 50px;
    border-radius: 20px;
}

h3 {
    color: #f3e100;
    text-align: center;
}

p {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 20px;
}

.radios {
    text-align: center;
}

legend {
    font-weight: bold;
}



.btn {
    margin-top: 50px;
}

body {
    /* background-color: gold; */
    background-image: url(/images/spelling.jpg);
    /* background-repeat: no-repeat; */
}

