.container {
    margin-top: 50px;
    border-radius: 20px;
}

h3 {
    color: yellow;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    background-color: blue;
    opacity: 1.0;
}

p {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 17px;
}

.radios {
    text-align: center;
}

legend {
    font-weight: bold;
}

.btn {
    margin-top: 50px;
}

body {
    background-image: url(../images/spelling.jpg);
}

#button {
    background-color: yellow;
    color: blue;
}

#results {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}