.container {
    margin-top: 50px;
    border-radius: 20px;
}

h3 {
    color: brown;
    text-align: center;
}

p {
    text-align: center;
}

.radios {
    text-align: center;
}

legend {
    font-weight: bold;
}



.btn {
    margin-top: 50px;
}

